@model MvcKütüphaneOtomasyonu.Models.Entity.TBLADMİN
@{
    ViewBag.Title = "AdminGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>AdminGetir</h2>


@using (Html.BeginForm("AdminGuncelle", "Ayarlar", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(k => k.ID)
        @Html.TextBoxFor(k => k.ID, new { @class = "form-control" })
        <br />
        <label>Kullanici </label>
        @Html.TextBoxFor(k => k.Kullanici, new { @class = "form-control" })

        <br />
        <label>Şifre </label>
        @Html.TextBoxFor(k => k.Sifre, new { @class = "form-control" })

        <br />
        <label>Yetki  </label>
        @Html.TextBoxFor(k => k.Yetki, new { @class = "form-control" })

        <div>
            <button class="btn btn-warning"> GÜNCELLE </button>
        </div>
    </div>
}

