@model MvcKütüphaneOtomasyonu.Models.Entity.TBLKİTAP
@{
    ViewBag.Title = "KitapGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>KitapGetir</h2>

@using (Html.BeginForm("KitapGuncelle", "Kitap", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(k => k.ID)
        @Html.TextBoxFor(k => k.ID, new { @class = "form-control" })
        <br />
        <label>kitap adı </label>
        @Html.TextBoxFor(k => k.AD, new { @class = "form-control" })
        <br />
        <label>KATEGORİ </label>
        @Html.DropDownListFor(k => k.TBLCATEGORY.ID, (List<SelectListItem>)ViewBag.dgr1,
         new { @class = "form-control" })
        <br />
        <label>YAZARI </label>
        @Html.DropDownListFor(k => k.TBLYAZAR.ID, (List<SelectListItem>)ViewBag.dgr2,
        new { @class = "form-control" })
        <br />
        <label>BASIM YİLİ</label>
        @Html.TextBoxFor(k => k.BASİMYİL, new { @class = "form-control" })

        <br />
        <label>YAYİN EVİ</label>
        @Html.TextBoxFor(k => k.YAYİNEVİ, new { @class = "form-control" })


        <br />
        <label>SAYFA SAYİSİ</label>
        @Html.TextBoxFor(k => k.SAYFA, new { @class = "form-control" })



        <div>
            <button class="btn btn-warning"> Kitap bilgilerini GÜNCELLE </button>
        </div>
        @*<input type="hidden" name="Durum" value="True" />*@

    </div>

}