@using MvcKütüphaneOtomasyonu.Models.Entity;
@model List<TBLKİTAP>
@{
    ViewBag.Title = "YazarKitaplar";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kitap Yazarı : @ViewBag.yazar1</h2>


<table class="table table-striped">
    <tr style="background-color:rgb(252,178,22)">
        <th> Id</th>
        <th>Kitap Ad</th>
        <th>Kategori</th>
        <th>Yayin Evi</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.AD</td>
            <td>@item.TBLCATEGORY.AD</td>
            <td>@item.YAYİNEVİ</td>
            @*<td>
                <a href="/Yazar/YazarSil/@item.ID" class="btn btn-danger">SİL</a>
            </td>
            <td>
                <a href="/Yazar/YazarGetir/@item.ID" class="btn btn-warning">GÜNCELLE</a>
            </td>
            <td>
                <a href="/Yazar/YazarKitaplar/@item.ID" style="background-color:lightcoral;" class="btn btn-default">YAZARIN KİTAPLARI</a>
            </td>*@
        </tr>
    }
</table>

<a href="/Yazar/YazarEkle/" class="btn btn-success">YENİ YAZAR EKLE</a>